
<div class="card shadow p-3 m-2">
  <a href="{% url 'certificate_dashboard:create_certificate' %}" class="btn btn-block btn-primary">
    <i class="fas fa-plus mr-2"></i>Create certificate</a>
  <a href="{% url 'certificate_dashboard:get_certificate' %}" class="btn btn-block btn-success">
    <i class="fas fa-search mr-2"></i> Get certificate</a>
  <a href="{% url 'certificate_dashboard:get_course_certificate' %}" class="btn btn-block btn-success">
    <i class="fas fa-search mr-2"></i> Get course certificate</a>
</div>