{% extends 'dashboard_base.html' %}

{% block title %}
 Password changed successfully
{% endblock %}

{% block content %}
<div class="row">
 <div class="col-md-6">
 <div class="card card-primary card-outline">
  <div class="card-header">
   <h2 class="m-0">Password Changed</h5>
  </div>
  <div class="card-body">
  <!-- <h6 class="card-title">Special title treatment</h6> -->
   <p class="card-text">Your password changed successfully.</p>
   <a href="{% url 'custom_auth:account_redirect' %}" class="btn btn-primary">Dashboard</a>
  </div>
 </div>
 </div>
 </div>
</div>
{% endblock %}