{% extends 'account_base.html' %}

{% load widget_tweaks bootstrap4 %}

{% block title %}
 Alhuda | change password page
{% endblock %}

{% block subtitle %}
 Change Password
{% endblock %}
{% block content %}
 <form action="" method="post">
  {% csrf_token %}

  {% bootstrap_form form %}

  <div class="row">
          <!-- /.col -->
    <div class="col-8">
     <input type="submit" value="Change my password" class="btn btn-primary btn-block">
    </div>
    <div class="col-4">
     <a href="/" class="btn btn-block btn-outline-primary">Cancel</a>
    </div>
    <!-- /.col -->
    </div>
   </form>
{% endblock %}
