
<strong><i class="fas fa-flag mr-1"></i>Nationality</strong>
<p class="text-muted">
 {{ object.nationality }}
</p>
<hr>
<strong><i class="fas fa-map-marker mr-1"></i> State</strong>
<p class="text-muted">
 {{ object.state_of_origin }}
</p>
<hr>
<strong><i class="fas fa-map-marker-alt mr-1"></i> L G A</strong>
<p class="text-muted">
  {{ object.lga_of_origin }}
</p>
<hr>
<strong><i class="fas fa-phone mr-1"></i>Phone number</strong>
<p class="text-muted">
 {{ object.phone_number }}
</p>
<hr>

<strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>
<p class="text-muted">
 {{ object.address }}
</p>