{% extends "teacher_base.html" %}

{% load widget_tweaks %}

{% block title %}
 Change user password | Dashboard
{% endblock title %}

{% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">

  <div class="card card-primary" style="max-width: 550px;margin:auto;">
    <div class="card-header">
     <h3 class="card-title">Reset user password</h3>
    </div>
    <form method="post">
     {% csrf_token %}
     
    <div class="card-body">
     <div class="form-group">
      {{ form.email.label_tag }}
      {% if form.email.errors %}
       {% for error in form.email.errors %}
       <p class="text-danger">{{ error }}<br /></p>
       {% endfor %}
      {% endif %}
      {% render_field form.email class="form-control" placeholder=form.email.label %}
      <p>{{ form.email.help_text }}</p>
     </div>
     <div class="form-group">
      {{ form.new_password1.label_tag }}
      {% if form.new_password1.errors %}
       {% for error in form.new_password1.errors %}
       <p class="text-danger">{{ error }}<br /></p>
       {% endfor %}
      {% endif %}
      {% render_field form.new_password1 class="form-control" placeholder=new_password1.label %}
      <p>{{ form.new_password1.help_text }}</p>
     </div>
     <div class="form-group">
      {{ form.new_password2.label_tag }}
      {% if form.new_password2.errors %}
       {% for error in form.new_password2.errors %}
       <p class="text-danger">{{ error }}<br /></p>
       {% endfor %}
      {% endif %}
      {% render_field form.new_password2 class="form-control" placeholder=new_password2.label %}
      <p>{{ form.new_password2.help_text }}</p>
  
       </div>
    
     <input class="btn btn-primary btn-block" type="submit" value="Reset password">
    </div>
    </form>
  </div>
    </div>
  </div>
 </div>
{% endblock %}